h2,h1, h3{
    margin: 0;
}
li {
    list-style-type: none;
}

ul{
    padding: 0;
    margin: 0;
}


body {
    box-sizing: border-box;

}

body{
    font-family: Lora Regular, sans-serif;
    font-style: normal;
}

.body{
    background-color: #F4F4F4;
}

p{
    margin: 0;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

.container{
    padding: 0 20px;
    max-width: 1170px;
    margin: 0 auto;
}


.header{
    background-size: 100% auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header__inner{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    color: #FFF;
    font-family: Marcellus, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    text-transform: uppercase;
    align-items: center;
}

.header__home-link{
    display: flex;
    align-content: center;
}

.header__nav-menu{
    display: flex;
    margin-left: 88px;
}

.header__nav-menu-item{
    display: flex;
}

.header__menu-item-link{
    display: flex;
    align-items: center;
    color: #FFF;
}

.header__nav-menu-item:not(:first-child) {
    margin-left: 30px;
}


.header__menu-item-chevron{
    margin-left: 4px;
}

.header__login-and-register{
    margin-left: 85px;
}

.header__login{
    color: #FFF;

}

.header__register{
    color: #FFF;

}

.header__search{
    margin-left: 129px;
}

.header__cart{
    display: flex;
    margin-left: 15px;
    justify-content: space-around;
    align-items: center;
}

.header__cart-img{
    fill: white;
}

.header__search-img{
    fill: white;
}


.header__cart-subtotal{
    margin-left: 10px;
}

.footer{
    margin-top: 100px;
    background-color: #EAEAEA;
}

.footer__inner{
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: flex-start;
}

.footer__column-1{
    width: 269px;
}

.footer__logo{
    fill: black;
}

.footer__column-1-text{
    margin-top: 15px;
    color:  #777;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer__column-1-contact{
    margin-top: 30px;
}



.footer-contact{
    color:  #777;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-contact-block{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-contact-block:first-child{
    margin-top: 0;
}

.footer__column-2{
    margin-left: 32px;
    width: 314px;
}

.footer-recent-post-list{
    margin-top: 20px;
}

.footer__column-2-title{
    color: #000;
    font-family: Marcellus, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
    text-transform: uppercase;
}

.footer-recent-post-item-image{
    width: 75px;
}

.footer-recent-post-item{
    margin-top: 15px;
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DFDFDF;
}

.footer-recent-post-item:first-child{
    margin-top: 0;
}


.footer-recent-post-item-title-and-date{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.footer-recent-post-item-title{
    color: #242424;
    font-family: Marcellus, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
}

.footer-recent-post-item-date{
    color:  #777;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.footer__column-3{
    margin-left: 85px;
    width: 170px;
}

.footer__column-4{
    margin-left: 30px;
    width: 170px;
}

.footer__column-items{
    margin-top: 20px;
}

.footer__column-item{
    margin-top: 10px;
}

.footer__column-item:first-child{
    margin-top: 0;
}

.footer__column-name{
    color: #000;
    font-family: Marcellus, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
    text-transform: uppercase;
}

.footer__column-item-link{
    color: #777;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.shopping_cart_closed{
    display: none;
}
.shopping_cart_open{
    overflow-y: auto;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 349px;
    height: 100%;
    z-index: 3;
    background-color: #fff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    transition: right 0.9s ease;
}

.header__cart-img-block{
    position: relative;
}

.count-product-in-basket{
    position: absolute;
    left: 11px;
    top: -4px;
    color: #FFF;
    text-align: center;
    font-family: Lora, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 50px;
    background:  #C3935B;
    padding: 1px 2px;
}


.header__cart:hover{
    cursor: pointer;
}

.shopping-cart__inner{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    border-bottom: 1px solid  #DFDFDF;
}


.shopping-cart-title{
    color:  #242424;
    font-family: Marcellus, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}

body.no-scroll {
    max-height: 5000px;
    overflow: hidden;
}

.shopping-cart-inner-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93%;
}





.shopping-cart-item{
    padding: 15px;
}

.shopping-cart-item{
    display: flex;
    gap: 17px;
}

.close-cart-img:hover{
    cursor: pointer;
}
.shopping-cart-item-img{
    width: 65px;
    height: 65px;
}

.shopping-cart-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 237px;
}

.shopping-cart-name-and-remove{
   display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping-cart-item-name{
    color: #242424;
    font-family: Marcellus, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.remove-product{
    width: 16px;
}

.remove-product:hover{
    cursor: pointer;
}

.shopping-cart-quantity-block{
    display: flex;
}

.shopping-cart-minus-btn{
    padding: 7px 6px;
    border: 1px solid rgba(119, 119, 119, 0.50);
    color:  #777;
    text-align: center;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quantity{
    padding: 7px 10px;
    border-top: 1px solid rgba(119, 119, 119, 0.50);
    border-bottom: 1px solid rgba(119, 119, 119, 0.50);
    color:  #777;
    text-align: center;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.shopping-cart-plus-btn{
    padding: 7px 6px;
    border: 1px solid rgba(119, 119, 119, 0.50);
    color:  #777;
    text-align: center;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.shopping-cart-plus-btn:hover{
    cursor: pointer;
}

.shopping-cart-minus-btn:hover{
    cursor: pointer;
}

.shopping-cart-item-price{
    display: flex;
    gap: 3px;
}

.shopping-cart-item-quantity{
    color:  #242424;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.shopping-cart-item-x{
    color: #242424;
    font-family: Lora, sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.shopping-cart-item-price-1{
    color:  #C3935B;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.shopping-cart-subtotal{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid  #DFDFDF;
    padding: 15px 0;

}

.shopping-cart-subtotal-text{
    color:  #242424;
    font-family: Lora, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.shopping-cart-subtotal-price{
    color:  #C3935B;
    text-align: right;
    font-family: Lora, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.shopping-cart-subtotal{

}

.shopping-cart-subtotal-container{
    padding: 0 15px;
}

.shopping-cart-free-shipping{
    border-top: 1px solid  #DFDFDF;
    padding-top: 10px;
}


.shopping-cart-free-shipping-text{
    color: #777;
    font-family: Lora, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.shopping-cart-free-shipping-text-yellow{
    color: #C3935B;
    font-family: Lora, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.shopping-cart-free-shipping-text-black{
    color:  #242424;
    font-family: Lora, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.line-free-shipping{
    background-color: #DFDFDF;
    width: 100%;
}

.shopping-cart-view-cart-link{
    margin-top: 20px;
    text-align: center;
    padding: 10px 15px;
    background-color:  #777;
    display: block;
    color: #FFF;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 178.571% */
    text-transform: uppercase;



}

.shopping-cart-checkout-link{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #FFF;
    font-family: Lora,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 178.571% */
    text-transform: uppercase;
    padding: 10px 15px;
    background-color:  #C3935B;
    display: block;
}


.no-items-in-cart{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 55px ;
}

.no-items-in-cart-text{
    margin-top: 30px;
    color: #242424;
    font-family: Marcellus, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.no-items-in-cart-link{
    margin-top: 20px;
    padding: 10px 15px;
    background-color:  #C3935B;
    color: #FFF;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 178.571% */
    text-transform: uppercase;
}

.cart-empty{
    display: none;
}


.header__nav-menu-item{
}




.header__nav-menu-item:hover .header__menu-item-link{
    cursor: pointer;
    border-bottom: 1px solid grey;
    box-sizing: border-box;

}

.header__menu-item-opened{
    position: absolute;
    top: 96px;
    border-radius: 2px;
    background-color: #FFF;
}

.header__menu-items-opened-list{
    padding: 30px 57px;
    display: flex;
    gap: 4px;
}

.header__menu-item-opened-list-item{
    width: 161px;
}

.header__menu-item-opened-list-item-1{
    margin-top: 16px;
}

.header__menu-item-opened-link-1{
    color: #808080;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.header__menu-item-opened-link{
    color: #000;
    font-family: Marcellus, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    text-transform: uppercase;
}


#menu-primary{
    display: flex;
    gap: 30px;
    margin-left: 88px;

}

.main-menu-link{
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Marcellus, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    text-transform: uppercase;
}

.top-level-link:hover{
    border-bottom: 1px solid grey;
}

.header__menu-item-chevron:hover .top-level-link{
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.disable-hover:hover{
    border-bottom: none;
}

.top-level-menu-item:hover{
    cursor: pointer;
}


.top-level-menu-item{
    display:flex ;
}
.top-level-sub-menu{
    top: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    gap: 4px;
    border-radius: 2px;
    background-color: #FFF;
    padding: 30px 57px;
    transition: top 0.3s ease;
}


.top-level-sub-menu-open{
    top: 192px;
}


.sub-menu-link{
    color: #000;
    font-family: Marcellus, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    text-transform: uppercase;
}

.sub-menu-item{
    width: 161px;
}


.sub-sub-menu-item{
    margin-top: 16px;
    display: flex;
    height: 16px;
    align-items: center;
    align-self: stretch;
}

.third-level-link{
    color: #808080;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}


